@charset "utf-8";

body {
    background-color: #FFFFFF;
}
#header1 {
    background-color:  rgba(68, 68, 68, 0.7);
    height: 15px;
}

#upper {
    height: 36px;
        background-color: rgba(68, 68, 68, 0.7);
        margin: 0px;
        padding: 0px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-size: 0px;
}

h1 {
    text-align: center;
    background-color: rgb(56, 67, 223);
    margin: 0px 0px;
    padding: 20px 0px;
    color: white;
}

form {
    text-align: center;
}
#body1 {
    text-align: center;
    width: 800px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(244, 252, 253);
    /* background-color: rgb(214,247,255); */
    border: 2px solid black;
    position: relative;
    
}

#body2 {
    text-align:left;
    height: 500px;
    background-color: white;
    margin: 0px 15px;
}
div #lead {
    text-align: center;
}
#footer1 {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 80px;
    background-color: rgba(68, 68, 68, 0.7);
}
#footer1 p {
    vertical-align: middle;
    margin-top: 30px;
    
}
