@charset "utf-8";

#header1 {
    background-color:  rgba(68, 68, 68, 0.7);
    height: 15px;
}
h1 {
    text-align:center;
    background-color: rgb(56, 67, 223);
    margin: 0px 0px;
    padding: 20px 0px;
    color: white;
}

#body1 {
    text-align: center;
    width: 800px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(244, 252, 253);
    /* background-color: rgb(214,247,255); */
    border: 2px solid black;
    position: relative;
}

#body2{
    text-align:left;
    height: 500px;
    background-color: white;
    margin: 0px 15px;
}
p.subtitle {
    font-size: 20px;
}

#upper {
    height: auto;
    background-color: rgba(68, 68, 68, 0.5);
    margin: 0px;
    padding: 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 0px;
}

#upper p {
        display: inline-block;
        width: 100px;
        /* height: 50px; */
        /* text-align:center; */
        /* vertical-align: middle; */
        background-color: rgba(68, 68, 68, 0.5);
        border-left: 1px white;
        padding: 5px;
        margin: 0px;
        color: white;
        font-size: 16px;
}
#upper p:hover {
    opacity: 0.7;
}

ul {
    list-style: none;
}
li p {
    margin-bottom: 0px;
}
li {
    display: inline-block;
}
form {
    margin: 20px;
}

#footer1 {
    position: absolute;
    bottom: 0px;
    width: 800px;
    height: 80px;
    background-color: rgba(68, 68, 68, 0.7);
}
#footer1 p {
    vertical-align: middle;
    margin-top: 30px;
    
}
